@model Contact

<div>
    Name: @Model.Name
    <br />
    Email: @Model.Email
    <form asp-action="delete" asp-controller="people" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" />
    </form>
</div>

