@model Contact
    <form asp-controller="people" , asp-action="edit">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        <br />
        <input type="submit" value="Edit" />
    </form>


